body{
    background-color: aliceblue;
}
.all{
   background-color:#b197fc; 
}
#landpage{
    display: flex;
    text-decoration: none;
}
.land{
    display: flex;
    gap: 20px;
}
.bu{
    display: flex;
    gap: 20px;
}
.but{
    width: 50%;
    padding: 1%;
}
.butt{
width: 15%;
}
.buu{
    background-color: yellow;
    padding: 3%;
}
.buuu{
    background-color: transparent;
    border-color: white;
    padding: 3%;
}
.products{
  margin-left: -30%; 
margin-top: 130px;
width: 700px;
height: 500px;
}
.heading{
    font-size: 90px;
}
.paragraph{
    font-size: 20px;  
}
.items{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    border-color: white;
    background-color: transparent;
    padding: 3%;
}
.item{
    border-radius: 20px;
}
.deal{
    display: flex;
    gap: 3%;
}
.b{
    background-color: black;
    color: yellow;
}
/* .variet{
   display: grid;
   grid-template-columns: repeat(4,1fr);
} */
.img{
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(1,4fr);
}
.lots{
    display: grid;
    grid-template-columns: repeat(2,1fr);  
}
.lot{
    display: grid;
    grid-template-columns: repeat(4,1fr);     
}
.three{
  display: flex;
  gap: 10px;
}
.prod{
    margin-left: 10%;
}

.pti img{
    border-radius: 10px;
    margin-bottom: 1%;
}
#products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#productitem{
    display: grid;
    grid-template-columns: repeat(3,3fr);
}
/* .lots{
    display: flex;
}
.variet.img{
    width: 400px;
    height: 400px;
} */
/* .variet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .variet > div {
    width: 23%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
  }
  .variet  > div > div:first-child {
    text-align: center;
    padding: 10px;
  }
  .variet  > div > div:first-child img {
    width: 35%;
    border-radius: 5px;
  }
  .variet > div > div:first-child h3 {
    margin-top: 10px;
    font-size: 18px;
  }
  .variet  > div > div:first-child p {
    margin-top: 5px;
    font-size: 12px;
  }
  .variet > div > div:last-child {
    text-align: center;
    padding: 5px;
  }
  .variet > div > div:last-child h3 {
    margin-top: 10px;
    font-size: 14px;
  }
  .variet > div > div:last-child button {
    margin-top: 10px;
    padding: 3px 5px;
    background-color: yellow;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .variet  > div > div:last-child button:hover {
    background-color: yellow;
  } */
.headset{
background-image:url(images/headphones-removebg-preview.png) ;
width: 600px;
height: 400px;
background-repeat: no-repeat;
background-color:lightblue ;
}
.p{
    margin-top: 30px;
}
.cam{
background-image: url(images/cam-removebg-preview.png);
width: 590px;
height: 400px;
background-repeat: no-repeat;
background-color: pink;
}
.ps{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 1200px;
    height: 300px;
    background-color: #b197fc;
}
.console{
    margin-top: 20%;
}
h1{
font-size: 50px;
}
.en{
    text-align: center;
}
.test{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 20px;
    margin-left: 30px;
}
.man{
    background-color:lightgray;
    margin-bottom: -15px;
}
.end{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.ends{
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    background-color: aliceblue;
    height: 100px;
}
.con{
    margin-right: -40px;
}
.mail{
    margin-top: 40px;
    background-color: yellow;
}
.sub{
    margin-top: 25px;
}
.head{
    margin-top: 25px;
}
.info{
    margin-top: 20px;
}
.footer{
    display: flex;
    gap: 30px;
    background-color: grey;
}